{% extends 'base.html.twig' %}

{% block title %}Sessions réservées{% endblock %}

{% block body %}

<div class="flex flex-col items-center">
    <div class="max-w-4xl mx-auto px-6 pt-12 pb-8">
        <h1 class="text-5xl md:text-6xl text-white leading-tight text-center md:text-left">
            Sessions réservées
        </h1>
    </div>

    <ul class="flex flex-wrap gap-5 mt-10 justify-center w-full">
        {% for session in sessions %}
            <li class="w-full md:w-1/3 {{ session.isActive == 0 ? 'opacity-50' : '' }}">
                <div class="bg-white p-4 rounded-3xl shadow-soft-lg border border-gray-100">
                    <img src="{{ session.img }}" class="w-full h-80 object-cover rounded-xl"/>
                    <h3 class="mt-4 text-xl font-semibold text-gray-800">{{ session.startAt | date('d/m, H:i', "Europe/Paris") }}</h3>
                    {% if session.joinable %}
                        <button class="join mt-4 w-full bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700 transition" id="{{ session.id }}">
                            Rejoindre
                        </button>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

<div id="modal" class="w-full h-full fixed inset-0 bg-gray-900/50 hidden">
    <div class="bg-white shadow-lg border border-gray-100 rounded-xl w-full sm:w-1/3 absolute top-48 left-0 sm:left-1/3 pb-5">
        <h2 class="text-xl font-semibold text-gray-800 text-center mb-5">C'est ok pour vous ?</h2>
        <h3 class="text-md font-semibold text-gray-800 text-center">Une réservation est un engagement, assurez-vous d'être bien disponible</h3>
        <div class="mt-5 flex flex-row justify-around">
            <button class="mt-4 w-1/3 bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700 transition" id="confirm">Confirmer la réservation</button>
            <button class="mt-4 w-1/3 bg-red-600 text-white py-2 rounded-lg hover:bg-red-700 transition" id="abort">Annuler</button>
        </div>
    </div>
</div>

{% block javascripts %}
    {{ importmap('app') }}
    <script type="module">
        import $ from 'jquery';
        $(document).ready(function() {
            let idSession = 0;

            $("#add").click(() => {
                $.get("/sessions/add").then(() => {
                    location.reload();
                })
            });

            $(".booking").click((e) => {
                const targetId = e.currentTarget.id;

                if (!targetId) 
                {
                    return;
                }

                idSession = targetId;
                $("#modal").show();
            });

            $("#abort").click((e) => {
                $("#modal").hide();
            });

            $("#confirm").click(() => {
                if(idSession > 0)
                {
                    $.get("/sessions/booking/" + idSession)
                    .then(() => {
                        location.reload();
                    })
                }
            });
        });
    </script>
{% endblock %}
{% endblock %}
