{% extends 'base.html.twig' %}

{% block title %}Échanges avec {{ conv.interlocutor }}{% endblock %}

{% block body %}

<div>
    <ul id="conv">
        {% for message in conv.messages %}
            <li>
                <p>
                    {{message.user.username}} : {{ message.content }}
                </p>
            </li>
        {% endfor %}
    </ul>

    <textarea id="content"></textarea>
    <button id="send">Envoyer</button>
</div>

{% block javascripts %}
    {{ importmap('app') }}
    <script type="module">
    import $ from 'jquery';
        $(document).ready(function() {
            const url = "{{ ws_url }}";
            const convId = "{{ conv.slug }}";
            const userSlug = "{{ userSlug }}";
            const username = "{{ username }}";

            const socket = new WebSocket(url);

            socket.onopen = () => {
                socket.send(JSON.stringify({type: 'connect', uid: convId, userSlug, username}));
            };

            socket.onerror = (err) => console.error('Erreur de connexion :', err);

            $("#send").click(() => {
                $.ajax({
                    url: "{{ url('add_message') }}",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({
                        slug: convId,
                        message: $("#content").val()
                    }),
                    success: function(response) {
                        socket.send(JSON.stringify({type: 'send', uid: convId, userSlug, message: $("#content").val()}));
                        $("#content").val("");
                    }
                });
            })

            socket.onmessage = (message) => {
                //console.log(JSON.parse(message.data).message);
                const data = JSON.parse(message.data);
                const $li = $('<li>').text(data.username + ' : ' + data.message);
                $("#conv").append($li);
            };
        })
    </script>
{% endblock %}
{% endblock %}
